*{
    margin: 0;
    box-sizing: border-box;
}


.div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#general{
 
    width: 600px;
    height: 500px;
    border: 1px solid black;
    position: relative;
}

#top{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: brown;
    position: absolute;
}

#seki{
    width: 100px;
    height: 20px;
    border-radius: 20px;
    background-color: blueviolet;
    position: absolute;
    bottom: -20px;
}